*{
    margin: 0;
    padding: 0;
}

#homeRedirect{
    margin: 30px 30px;
}
#homeRedirect>a:first-child{
    text-decoration: none;
    color: #10847e;
    font-weight: 600;
}
#homeRedirect>a:last-child{
    text-decoration: none;
    color: #4f585e;
}
#homeRedirect>img{
    padding: 0 10px;
}



#main{
    width: 95vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#main>#container{
    width: 61%;
    border: 1px solid #e6ebf4;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    height: fit-content;
}
#main>#container>#beforeItems{
    display: flex;
    justify-content: space-between;
    padding: 24px;
    border-bottom: 1px solid #e6ebf4;
}
#countofItems{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: .5px;
}
#main>#container>#beforeItems>div:last-child>div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    color: #10847e;
    letter-spacing: .5px;
}
#main>#container>#beforeItems>div:last-child>div>img{
    width: 18px;
    margin-right: 5px;
}
#products>div{
    padding: 24px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e6ebf4;
    height: 200px;
}
#products>div>div{
    display: flex;
}
#products img{
    width: 20%;
    height: auto;
}
#products>div>div:first-child>div{
    margin-left: 20px;
}
#products>div>div:first-child>div>p:first-child{
    font-size: 20px;
    letter-spacing: .5px;
    line-height: 25px;
}
#products>div>div:first-child>div>p:nth-child(2){
    color: #7b7c7c;
    font-size: 13px;
}
#products>div>div:first-child>div>p:nth-child(3){
    margin: 15px 0;
    color: #7b7c7c;
}
#products>div>div:first-child>div>div{
    margin: 10px 0;
}
#products>div>div:first-child>div>div>span:first-child{
    color: #7b7c7c;
}
#products>div>div:first-child>div>div>span:nth-child(2){
    color: #7b7c7c;
    text-decoration: line-through;
}
#products>div>div:first-child>div>div>span:nth-child(3){
    font-size: 18px;
}
#products>div>div:first-child>div>div:last-child{
    color: #535353; 
    font-size: 14px;
}
#products>div>div:first-child>div>div:last-child>span{
    color: #000000; 
}
#products>div>div:last-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#products>div>div:last-child img{
    width: 37%;
    align-self:flex-end;
    cursor: pointer;
}
#products>div>div:last-child select{
    padding: 10px;
    border-radius: 10px;
    border-color: #7b7c7c;
    color: #4f585e;
    padding-right: 20px;
}



#mainPayment{
    width: 36.5%;
    display: flex;
    flex-direction: column;
}
#paymentSection{
    border: 1px solid #e6ebf4;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}
#paymentSection>div:first-child{
    padding: 24px;
    border-bottom: 1px solid #e6ebf4;
}
#totalPrice+div{
    padding: 24px;
}
#totalPrice+div>div{
    padding: 12px 18px;
    border: 1px solid #e6ebf4;
    border-radius: 8px;
    cursor: pointer;
}
#paymentSection>div:first-child>span:first-child{
    font-size: 19px;
}
#paymentSection>div:first-child>span:last-child{
    font-size: 22px;
    font-weight: 600;
}
#paymentSection>div:last-child>div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
#paymentSection>div:last-child>div>div{
    display: flex;
}
#paymentSection>div:last-child>div>div>p{
    padding-left: 30px;
    align-self: center;
}
#paymentSection>div:last-child>div>img{
   width: 28px;
}
#paymentSection>div:last-child>button{
    width: 100%;
    border: none;
    background: #10847e;
    color: white;
    padding: 14px;
    border-radius: 8px;
    font-size: 18px;
}
#paymentSection>div:last-child>button:hover{
    background: #0a5753;
    cursor: pointer;
}
#paymentSection>div:last-child>a{
    border: none;
    background: #10847e;
    color: white;
    padding: 14px 162px;
    border-radius: 8px;
    font-size: 18px;
    text-decoration: none;
}
#paymentSection>div:last-child>a:hover{
    background: #0a5753;
    cursor: pointer;
}



#bill{
    margin-top: 20px;
    border: 1px solid #e6ebf4;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    padding: 24px;
}
#bill>p{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .3px;
}
#bill>div>div:first-child{
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
}
#bill>div>div:last-child{
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e6ebf4;
}
.colorForValue{
    color: #7b7c7c;
}
.cross{
    text-decoration: line-through;
    margin-right: 5px;
    color: gray;
}


.tobePaid{
    display: flex;
    justify-content: space-between;
    padding: 24px 0 15px 0;
    font-size: 18px;
    font-weight: 600;
}


.rotate{
    transform: rotateX(-180deg);
}
#asset{
    margin-top: 20px;
    border: 1px dashed #62bf9f;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    padding: 20px;
    color: #45a081;
    background-color: #f2fff8;
}
#showAssets{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
#showAssets>div{
    display: flex;
}
#showAssets>div>p{
    align-self: center;
    margin-left: 10px;
    font-size: 19px;
}
#mainAssets{
    padding-left: 36px;
}
#mainAssets>ul>li{
    list-style-type: none;
    padding-top: 15px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.dis{
    display: none;
}                         


#pointers>ul>li{
    margin-top: 7px;
    color: #6e787e;
    font-weight: 400;
    font-size: 17px;
    margin-right: 15px;
}
#pointers>ul>li>span{
    color: #10847e;
    cursor: pointer;
    font-weight: 600;
}

#pointers{
    margin-bottom: 40px;
}