*{
    margin: 0px;
    padding: 0px;
}




.grid-container {
    margin-left: 100px;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto auto ;

}


.item:hover img{
    transition: 1s;
    height: 110%;
    width: 110%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  }

.grid-container>div {
    padding: 20px;
    margin-left: 10px;
    height: 150px;
    width: 350px;
    text-align: center;
}

.item img {
    height: 100%;
    border-radius: 20px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#main{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}

h1{
    font-size: 50px;
}

.footerfaq{
    margin: 100px;
}

.footerfaq img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    width: 90%;
  
    
}