:root {
    --black: #130f40;
    --light-color: #666 --box-shadow:0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: 2rem solid rgba(0, 0, 0, .1);
    --outline: 1rem solid rgba(0, 0, 0, .1);
    --outline-hover: 2rem solid var(--black);

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

.navfirst {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 9%;
    background-color: #fff;
}

.navsecond {
    /* position: relative; */
    /* top:0; left: 0; right: 0; */
    /* z-index: 1000; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 2rem 9%; */
    background-color: #fff;
}

.headerfirst {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
}

.headersecond {
    position: relative;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5px;
    padding: 2rem 9%;
    background: #fff;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
}

.headerfirst .navfirst a {
    font-size: 2.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.headersecond .navsecond a {
    font-size: 2.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.logo {
    margin: -10px -2px;
    height: 54px;
}

.search {
    margin-top: 20px;


}

.srcsec {
    font-size: 30px;
    text-align: center;
}

.search .search-form {
    margin: 10px;
    display: flex;
    align-items: center;
}

.search .search-form input {

    margin: auto;
    width: 50rem;
    height: 5rem;
    font-size: 1.6rem;
    padding: 0 1.5rem;
    box-shadow: rgba(249, 249, 249, 0.3) 0px 1px 2px 0px, rgba(249, 249, 249, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;

}

.top {
    margin: auto;
    padding: 25px;
    /* background-color: rgb(167, 170, 170); */
    width: 90%;


}

.top>h3{
    font-size: 30px;
    padding-left: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:400;
}

.top>p{

    font-size: 1.8rem;
    padding-left: 4rem;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-weight:400;

}

.container {
    height: 321px;
    width: 90%;
    /* border: 1px solid black; */
    /* background-color: rgb(104, 106, 106); */
    background: rgb(233,255,248);
    background: linear-gradient(90deg, rgba(233,255,248,1) 40%, rgba(175,255,251,1) 99%);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;

    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 1%;
}

.slide-img>img {
    height: 200px;
    width: 200px;
    /* background-color: white; */

}

.slide-container {
    display: flex;
    width: calc(250px*18);
    animation: scroll 20s linear infinite;

}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.slide-img {
    height: 150 px;
    width: 350px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

#category {
    /* border: 2px solid red; */
    margin: 20px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(12,2fr);
    /* justify-content: space-evenly; */
    /* padding: 20px 20px; */
    gap: 1rem;
    padding-top: 2rem;
}

#category img {
    height: 200px;
    width: 200px;
    margin-bottom:10px ;
    border-radius: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.Articles {
    /* border: 2px solid red; */
    background: rgb(233,255,248);
    background: linear-gradient(90deg, rgba(233,255,248,1) 31%, rgba(218,175,255,1) 100%);
    margin: 20px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 20px;
    
}

.imgA {
    padding: 34px;
    /* border: 1px solid red; */
    width: 10%;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.Articles img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

/* Footer Css */

.foot {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    height: auto;
    width: 100%;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}

.foot div {
    justify-content: space-evenly;
}

.d1 {
    margin-left: 40px;
}

.d3 {
    margin-left: 500px;
}

.foot>div>h3,
h2 {
    color: black;
    font-size: 15px;
}

.d3>img {

    /* border: 1px solid red; */
    height: 84px;
    width: 210px;
}

/* Footer Css End here */